<!DOCTYPE html>
{{partial "head.html" .}}
<link rel="stylesheet" href="/css/listView.css">
<html>
    {{partial "navbar.html" .}}
    {{partial "BgAnimation.html" .}}
    <main id="main">
        <div class="titleContainer">
            <h1 id="title">{{ .Title }}</h1>
        </div>
        <div class="container">
          {{ range .Pages }}
            <div class="project">
              <h2 class="title">{{ .Title }}</h2>
              <p class="discription">{{ .Description }}</p>
              <div class="content"><p>{{truncate 400 .Content}}</p></div>
              <div class="foot">
                <a href="{{ .RelPermalink }}" class="read-more">Read More</a>
                <time>Posted on: {{dateFormat .Params.dateFormat .Date}}</time>
              </div>
            </div>
          {{ end }}
        </div>
      </main>
</html>