<!DOCTYPE html>
<link rel="stylesheet" href="/css/singleStyle.css">
{{partial "head.html" .}}
<html lang="en">
    {{partial "navbar.html" .}}
    {{partial "BgAnimation.html" .}}
    <body class="singleContainer">
        <header class="singleTitle">
            <h1>{{ .Title }}</h1>
        </header>
        <main class="singleContent">
            {{ .Content | safeHTML }}
        </main>
        <footer class="singleFotter">
            <p>&copy; {{ now.Year }} Cepheid</p>
        </footer>
    </body>
</html>
