<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<header class="navContainer">
    <nav class="navbar">
        <div class="navLogo">
            <a href="/" class="interactable">
                <img
                id="page-logo"
                src="/assets/logo.png"
                alt="Logo"
                />
            </a>
        </div>
        <div class="navLinks">
            <a href="/projects">Projects</a>
            <a href="/blogs">Blog</a>
            <a href="/about">About Us</a>
            <a href="/team">Team</a>
        </div>
    </nav>
</header>