<!DOCTYPE html>
<html
  lang="{{ .Site.Language | default "en-GB" }}"
  dir="{{ .Language.LanguageDirection | default "auto" }}"
>
  {{ partial "head.html" . }}
  <body>
    {{ partial "BgAnimation.html" . }}
    {{ partial "navbar.html" . }}
    <div class="Main">
      {{partial "heading.html" .}}
      {{- if site.Params.enableMouseTracker -}}
        <div id="mauser">
          <i id="hover-icon"></i>
        </div>
      {{- end -}}
      {{ partial "about.html" . }}
      </div>

  </body>
</html>
